.titulo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

.btn {
    font-family: "Latso", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
}

input {
    border-style: solid;
    border-color: rgb(117, 171, 233);
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn-primary:hover {
    background-color: rgb(3, 65, 136);
    border-color: rgb(3, 65, 136);
}

#root{
    flex-direction: column;
<<<<<<< HEAD
    gap: 5vh;
=======
    gap: 10vh;
>>>>>>> 621906bcdeb47591c987f029762fd38643463df6
    margin-bottom: 10vh;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

<<<<<<< HEAD
.divDate{
    display:flex;
    justify-content: center;
    gap: 15px;
}

=======
>>>>>>> 621906bcdeb47591c987f029762fd38643463df6

/*Hero Section*/
.hero-frame{
    overflow: hidden;
}

.hero img, .hero{
    /*Aplica propriedade cover para que a imagem preencha o quadro*/
    object-fit: cover;
    object-position: top; /*Centraliza o recorte da imagem*/
    height: 70vh;
}

@media (max-width: 576px){
    .hero img, .hero{
        height: 50vh;
    }
}